/* ZOOM 插件美化, 优化顶部显示 */
.zoom-plugin-title{
    background-color: var(--tag);
    border: none;
    color: var(--text-dl);
    font-size: calc(var(--f-s-text) - .2em);
    padding: 1px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px 0px;
    cursor: pointer;
    line-height: var(--lh);
}

.zoom-plugin-header span{
    color: #ff86be;
}