/* 分隔符美化, 预览+编辑器 */
.markdown-preview-view hr {
    border: none;
    height: 1px;
    background-image: linear-gradient(to right, var(--background-primary), var(--text-accent), var(--background-primary));
}

.markdown-preview-view hr::after {
    content: '§' !important;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(60deg);
    transform-origin: 50% 50%;
    padding: 0.5rem;
    color: var(--text-sub-accent);
    background-color: var(--background-primary);
}

.markdown-preview-view hr::after, div:not(.CodeMirror-activeline)>.HyperMD-hr-bg::after{
    content: '§' !important;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(60deg);
    transform-origin: 50% 50%;
    padding: 0.5rem;
    color: var(--text-sub-accent);
    background-color: var(--background-primary);
}

.HyperMD-hr-bg {
    border: none;
    height: 1px;
    background-image: linear-gradient(to right, var(--background-primary), var(--text-accent), var(--background-primary));
}